@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: beige;
}

/* HTML tag styles */
h3 {
  font-size: 18px;
  text-align: center;
  color: #f26526;
}

h4 {
  font-size: 30px;
  /* margin-top: 0px;
    margin-bottom: 0px; */

  text-align: center;

  color: #1e1c24;
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  color: black;
}
h6 {
  font-size: 15px;
  font: caption;
}

b {
  font-weight: lighter;
  font-size: 18px;
}
/* a:hover{
    background-color: black;
    color: white;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
.navbar .logo-image img{
  width: 100px;
}
.navbar .nav-items a{
  margin: 0 15px;
}
.navbar .sign a{
  margin-left: 15px;
}

/* .logo {
  width: 5%;
  height: 5%;
  float: left;
  position: sticky;
}
.navsize {
  position: sticky;
  top: 0;
} */

.nav-link {
  border: 2px solid #f26f26;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: #f26526;
  color: #fff;
  font-size: 22px;
}

.nav-link:hover {
  background-color: white;
  color: #f26526;
}

.main {
  width: 100%;
  /* margin-left: 25px; */
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  min-height: 100vh;
  padding: 100px 20px;
  gap: 20px;
  /* flex-flow: row nowrap; */
  /* justify-content: space-evenly; */
}

.main-heading {
  font-size: 50px;
}

.main-para {
  font-family: sans-serif;
  font-size: 25px;
  margin-top: 30px;
}

.signs {
  margin-top: 30px;
}

.request {
  padding: 10px;
  display: inline-block;
}

.request:hover {
  border: 2px solid #f26526;
  padding: 10px;
  border-radius: 8px;
}

.starboy {
  width: 100%;
}

/* .main-section {
    /* display: flex; */
/* justify-content: space-around; 
} */

.main-image {
  /* padding: 20px; */
}

.second-main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.features {
  padding: 20px;
  /* font:small-caption; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background-color: whe;
  align-content: normal;
  font-family: Poppins, sans-serif;
  grid-gap: 25px;
  /* justify-content: start; */

  /* display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; */
}

.feature-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: lightgray; */
  border: 2px snow;
  border-radius: 8px;
  /* padding-left: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
   padding-bottom: 20px; */
  padding: 15px;
}

.feature-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  /* background-color: lightgray; */
  border: 2px snow;
  border-radius: 8px;
  padding: 15px;
}

.feature-three {
  height: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: lightgray; */
  border: 2px snow;
  border-radius: 8px;
  padding: 15px;
}

.feature-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: burlywood; */
  border: 2px whitesmoke;
  border-radius: 8px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 15px;
}

.feature-one:hover {
  box-shadow: 0 0 2px black;
  top: -10px;
}
.feature-two:hover {
  box-shadow: 0 0 2px black;
  top: -20px;
}

.feature-three:hover {
  box-shadow: 0 0 2px black;
  top: -10px;
}

.feature-four:hover {
  box-shadow: 0 0 2px black;
  top: -10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .second-main{
    flex-direction: column;
  }
  .main {
    flex-direction: column-reverse;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .navsize {
    flex-direction: column-reverse;
  }

  /* .sign {
    display: flex;
    list-style-type: none;
  } */

  /* .logo-image {
   height: 150%;
   width: 50px;
  } */
}

.third {
  width: 96%;
  /* margin-left: 25px; */
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  min-height: 100vh;
  padding: 100px 20px;
  gap: 0px;
}

.third-main {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin-left: 28px;
}
.third-heading {
  font-size: 35px;
  padding: 20px;
}

.third-para {
  display: block;
  /* margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; */
  justify-content: space-between;

  font-size: 20px;
}
.image-two {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  padding-right: 20px;

  align-items: center;
}
.check {
  margin: 20px;
  padding: 10px;
}
.check:hover {
  background-color: #f26526;
  border: 0.5px solid wheat;
  border-radius: 8px;
}

/* Newsletter styles */

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.inputbox {
  /* box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff; */

  border: 1px solid #c7c4c4;
  border-radius: 10px;
  overflow: hiddenx;
  /* border-radius: 10px;
  color: #1e1c24;
  font-size: 1.5rem;
  padding: 1.36rem;
  width: 100%; */
}

.inputbox input {
  font-family: poppin, sans-serif;
  color: #1e1c24;
  padding:5px 10px;
  font-size: 15px;
  
}

.inputbox button {
  font-size: 20px;
  padding:10px;
 border: none;
  border-radius: 2.5px;
  background:rgb(167, 167, 246)
}
.inputbox button:hover {
  background: white;
  
}

h5 {
  color: #1e1c24;
  flex-basis: auto;
  font-size: 2rem;
  font-weight: 10;
  position: absolute;
  left: 0;
  padding-left: 15px;
  padding-bottom: 15px;
}

.subscribe-container {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.container {
  margin: 5px;
  padding: 2rem;
}
.even-columns {
  display: grid;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sideimage {
  max-width: 50%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  font-size: 5px;
}


.paratext {
  padding: 25px;
  font-size: 20px;
}

.footer {
  bottom: 0px;
  width: 400px;
  text-align: center;
  display: grid;
}

.footer-container {
}
.nav-container{
  background-color: #fff;
  padding: 40px 0;
}
.even-footer {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  /* justify-content: center; */
}

.footer-a {
  font-size: 18px;
}

.footer-title {
  font-size: 30x;
}

.even-footer li {
  padding: 10px 0;
}
@media screen and (min-width: 525px) and (max-width: 768px) {
  .navsize {
    margin-left: 1em;
    margin-right: 1em;
  }
  .even-footer{
  grid-template-columns: repeat(2, 1fr);
  }
 
    .navbar {
flex-direction: column;
    }
  
    .navbar .logo-image img {
      width: 100px;
    }
  
    .navbar .nav-items a {
      margin: 0 15px;
    }
  
    .navbar .sign a {
      margin-left: 15px;
    }
}
@media screen and (max-width: 524px) {
  
  .navsize {
    margin-left: 1em;
    margin-right: 1em;
  }
  .even-footer{
  grid-template-columns: repeat(1, 1fr);
  }
    .navbar {
      flex-direction: column;

    }
  
    .navbar .logo-image img {
      width: 100px;
    }
  
    .navbar .nav-items a {
      margin: 0 15px;
    }
  
    .navbar .sign a {
      margin-left: 15px;
    }
}

li {
  display: list-item;
}

.logo-social ul{
  /* padding: 50px; */
  display: flex;
}

